@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import "reset.css"; /* 뼈대를 보여주는 html보다 css에 추가하는 것이 적절*/
@import "variables.css"; /* 메인 BI 컬러를 세부설정한 variables.css 불러오기 */
/* Components*/
@import "components/status-bar.css"; /* 모든 웹 페이지에 상태바가 존재하게 될 것이므로 파일화가 적절 */
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/badge.css";
@import "components/no-mobile.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
/* styles.css에는 웹페이지 전체에 일괄적으로 적용되는 속성은 그대로 표현*/
body {
  color: #2e363e;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  background-color: var(--pink-light);
}
.main-screen {
  padding: var(--horizontal-space);
  /* screen-header이랑 같은 좌/우 padding 값을 가짐 (:root를 통해 저장된 variable) */
}
