#chat-screen {
  background-color: var(--pink-light);
  height: 100vh;
  position: relative;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: var(--pink-light);
  box-sizing: border-box;
}
#chat-screen .status-bar {
  z-index: 2; /*z-index로 layer 순서 설정 - status-bar가 위로 오게 함 */
}
#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}
.chat__timestamp {
  color: white;
  background-color: black;
  padding: 8px 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  font-size: 18px;
  padding: 8px 13px;
  border-radius: 10px;
  border-top-left-radius: 0px; /* box 테두리 개별 설정 */
  margin-right: 5px;
}
.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}
/* order로도 순서 설정(default:0) - flex children에만 적용 가능 
   but 코드가 길어지기 때문에 row-reverse로 대체*/

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.5;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%; /* column의 width값을 주지 않으면 .reply input에 widtH: 100%가 적용되지 x */
  position: relative;
}
.reply input {
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}
.fa-face-smile-wink {
  margin-right: 20px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 6px;
  top: 5px;
}

.reply .reply__column:last-child > i {
  right: 20px;
  top: 19px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply__column button i {
  opacity: 1;
}

/* focus-within : focus 내부에 focus된 element가 있는지 확인 */
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 90vw;
  transform: translateX(-10%) translateY(-50px);
}

.reply:focus-within {
  transform: translateY(50px);
}
