#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-bottom: 18px;
}

#friends-display-link i {
  color: var(--gray);
}

.friends-screen__channel {
  border-top: var(--main-border);
  margin-top: 25px;
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute; /* 모든 것의 위에 있음을 의미 */
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  /* forwards : 마지막 속성 값(opacity:0)이 애니메이션이 끝나고도 유지됨 */
  animation-delay: 0.6s;
}
